.instructores {
  width: 100%;
}
.instructores-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 1rem;
  margin: 1rem;
}
@media (max-width: 780px) {
  .instructores-grid {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 10px;
  }
}
.instructor__item {
  position: relative;
  min-width: 168px;
  min-height: 168px;
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
  animation: opacity 1s ease-in-out;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.instructor__item img {
  width: 168px;
  height: 168px;
  object-fit: cover;
}
.instructor__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-blend-mode: multiply;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  line-height: normal;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  animation: slideInstructor 10s ease-in-out;
}
.instructor__item:hover .instructor__info {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.instructor__item:nth-child(1) .instructor__info {
  animation-delay: 0s;
}
.instructor__item:nth-child(2) .instructor__info {
  animation-delay: 10s;
}
.instructor__item:nth-child(3) .instructor__info {
  animation-delay: 20s;
}
.instructor__item:nth-child(4) .instructor__info {
  animation-delay: 30s;
}
.instructor__item:nth-child(5) .instructor__info {
  animation-delay: 40s;
}
.instructor__item:nth-child(6) .instructor__info {
  animation-delay: 50s;
}
.instructor__item:nth-child(7) .instructor__info {
  animation-delay: 60s;
}
.instructor__item:nth-child(8) .instructor__info {
  animation-delay: 70s;
}

@keyframes slideInstructor {
  0% {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  90% {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.instructor__item-titulo {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
.instructor__item-descripcion {
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.instructor__visitar {
  text-align: center;
  font-size: 14px;
  padding: 4px 8px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.instructor__visitar svg {
  width: 20px;
  height: 20px;
}
