.presentacion {
  margin-bottom: 30px;
}
.presentacion__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
}
.presentacion__usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  column-gap: 10px;
  margin-bottom: 20px;
}
.presentacion__usuario img {
  min-width: 180px;
  min-height: 180px;
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 50%;
  animation: usuario__rotar_3d 0.3s ease-in-out;
}
@keyframes usuario__rotar_3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.presentacion__usuario h1 {
  font-size: 40px;
  min-width: fit-content;
  width: fit-content;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  animation: titulo__pulse 2s infinite, titulo__transladarX 0.3s ease-in-out;
}
.presentacion__usuario .titulo--sub {
  font-size: 28px;
  min-width: fit-content;
  width: fit-content;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
}
.presentacion__usuario--name {
  font-weight: 700;
}
@keyframes titulo__transladarX {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
.presentacion__left p {
  font-size: 16px;
  margin-bottom: 30px;
  animation: texto__opacity 0.3s ease-in-out;
}
@keyframes texto__opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.presentacion__left p:last-child {
  margin-bottom: 0;
}
.presentacion__botones {
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.presentacion__cv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 5px;
  background: var(--fondo-2);
  color: var(--texto-2);
  font-weight: 700;
  transition: var(--transition-3s);
  animation: cv__rotar_3d 0.3s ease-in-out;
  border: 1px solid #444c50;
  margin-bottom: 10px;
}
.presentacion__rigth {
  height: fit-content;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.presentacion__rigth a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
  transition: var(--transition-3s);
  animation: redes__rotar_3d 0.3s ease-in-out;
}
.presentacion__rigth a:nth-child(1) {
  animation-delay: 0.1s;
}
.presentacion__rigth a:nth-child(2) {
  animation-delay: 0.2s;
}
.presentacion__rigth a:nth-child(3) {
  animation-delay: 0.3s;
}
.presentacion__rigth a:nth-child(4) {
  animation-delay: 0.4s;
}
.presentacion__rigth a:nth-child(5) {
  animation-delay: 0.5s;
}
.presentacion__rigth a:nth-child(6) {
  animation-delay: 0.6s;
}

@keyframes redes__rotar_3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.presentacion__rigth a:hover {
  transform: scale(1.1);
}
.presentacion__rigth a:nth-child(1) {
  background: var(--fondo-2);
}
.presentacion__rigth a:nth-child(2) {
  background: rgb(190, 0, 130);
}
.presentacion__rigth a:nth-child(3) {
  background: #1877f2;
}
.presentacion__rigth a:nth-child(4) {
  background: #0177b5;
}
.presentacion__rigth a img {
  height: 50px;
  min-width: 50px;
}
@media (max-width: 780px) {
  .presentacion__grid {
    grid-template-columns: 1fr;
  }
  .presentacion__usuario h1 {
    font-size: 26px;
  }
  .presentacion__usuario .titulo--sub {
    font-size: 20px;
  }
  .presentacion__usuario img {
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .presentacion__usuario h1 {
    font-size: 20px;
  }
  .presentacion__usuario .titulo--sub {
    font-size: 16px;
  }

  .presentacion__usuario img {
    min-width: 120px;
    min-height: 120px;
    width: 120px;
    height: 120px;
  }
}
